<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
		id="cordova-plugin-trustly-checkout"
		version="1.0.0">

	<name>Trustly Checkout Cordova Plugin</name>
	<description>The Trustly Checkout Cordova plugin provides an easy way to implement the Trustly Checkout into your Cordova app!</description>
	<author>Trustly Group</author>
	<license>MIT</license>
	<keywords>codova,trustly</keywords>
	<repo>https://github.com/trustly/cordova-plugin-trustly-checkout.git</repo>
	<issue></issue>

	<engines>
		<engine name="cordova-android" version=">=9.0.0" />  
		<engine name="cordova-ios" version=">=6.1.1" />
	</engines>

	<js-module src="www/Trustly.js" name="Trustly">
		<clobbers target="trustly" />
	</js-module>

	<!-- android -->
	<platform name="android">

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="Trustly">
				<param name="android-package" value="com.trustly.sdk.TrustlyPlugin"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity
					android:name="com.trustly.sdk.TrustlyActivity"/>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET"/>
		
			
		</config-file>

		<source-file src="src/android/com/trustly/sdk/TrustlyPlugin.java" target-dir="src/com/trustly/sdk" />
		<source-file src="src/android/com/trustly/sdk/TrustlyActivity.java" target-dir="src/com/trustly/sdk" />
		<source-file src="src/android/com/trustly/sdk/TrustlyEventHandler.java" target-dir="src/com/trustly/sdk" />
		<source-file src="src/android/com/trustly/sdk/TrustlyJavascriptInterface.java" target-dir="src/com/trustly/sdk" />
		<source-file src="src/android/com/trustly/sdk/TrustlySDKEventObject.java" target-dir="src/com/trustly/sdk" />
		<source-file src="src/android/com/trustly/sdk/TrustlyWebChromeClient.java" target-dir="src/com/trustly/sdk" />
		<source-file src="src/android/com/trustly/sdk/TrustlyWebView.java" target-dir="src/com/trustly/sdk" />
		<source-file src="src/android/com/trustly/sdk/WebSettingsException.java" target-dir="src/com/trustly/sdk" />

	</platform>

	<platform name="ios">

		<config-file target="config.xml" parent="/*">
			<feature name="Trustly">
				<param name="ios-package" value="TrustlyPlugin" />
			</feature>
		</config-file>

		<header-file src="src/ios/CDVTrustly-Bridging-Header.h" />
		<source-file src="src/ios/CDVTrustlyPlugin.swift" />
		<source-file src="src/ios/CDVTrustlyOpenURLScheme.swift" />
		<source-file src="src/ios/CDVTrustlyWKWebView.swift" />

		<config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
			<array>
				<string>swish</string>
				<string>bankid</string>
			</array>
		</config-file>

		<dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>

	</platform>

</plugin>
